* {
  box-sizing: border-box;
  font-family: "Courgette", cursive;
}

body {
  margin: 0px;
}
.main-container {
  border: solid 3px black;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: flex;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 50px;
}
.todo_count {
  margin-top: 80px;
}

ul {
  list-style: none;
}

label {
  font-size: 40px;
}

input {
  width: 400px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
  font-size: 20px;
}

.inputdiv2 {
  display: flex;
  justify-content: space-between;
}

.listdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.listdiv li {
  font-size: 20px;
}

.plus {
  width: 30px;
  font-size: 50px;
  background: none;
  border: none;
  outline: none;
  padding: 0px 0px 20px 0px;
  cursor: pointer;
}

.cross {
  font-size: 20px;
  background: none;
  border: none;
  outline: none;
  padding: 0px 0px 20px 0px;
  cursor: pointer;
  padding-top: 20px;
}
